{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="canvas">
    <canvas id="myCanvas" width="1500" height="500"></canvas>
</div>
<div id="coordinates">
    <p id="xCoord"></p>
    <p id="yCoord"></p>
</div>
<div class="button">
        <button type="button" id="BtnClearCanvas">Clear canvas</button>
</div>
<div class="svg">
    <svg id="svgSignal" width="1500" height="500"></svg>
</div>
<div class="button">
    <button type="button" id="BtnExportData">Export data</button>
</div>
<script src="{% static 'CurveToSignalApp/js/drawSignal.js' %}"></script>
{% endblock content %}
