{% extends "base.html" %}
{% load static%}
{% block content %}
<div class="canvas">
    <canvas id="myCanvas" width="2000" height="500"></canvas>
</div>
<div id="coordinates">
    <p id="xCoord"></p>
    <p id="yCoord"></p>
</div>
<div class="button">
        <button type="button" id="BtnClearCanvas">Clear canvas</button>
</div>
<div class="svg">
    <svg id="svgSignal" width="2000" height="500"></svg>
</div>
<script>
    var X     = {{X | safe}};
    var Y     = {{Y | safe}};
    var YCalc = {{YCalc | safe}};
</script>
<script src="{% static 'CurveToSignalApp/js/plotCalcSignal.js' %}"></script>
{% endblock content %}
